<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @bet.nome %>
</p>

<p>
  <strong>Alunos:</strong>
  <%= @bet.alunos %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
